@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
    margin: 0;
    padding: 0;
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d59ce4;
}
.container{
     width: 50%;
     color: rgb(77, 72, 72);
     background: #e7e9e8;
    
}
.container h1{
    margin-left: 150px;
    font-weight: 500;
}
.container input{
    border: none;
    display: block;
    text-align: center;
    max-width: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
}
.container #salaryForm{
    margin-left: 200px ;

}
.container .button{
    background: rgb(115, 109, 120);
    color: rgb(25, 25, 24);
    margin-top: 20px;
    margin-left: 50px;
    padding: .5rem;
}
.container .output{
    margin-left: 50px;
    padding: 20PX;
}
